@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../webfonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: url(../webfonts/PT_Serif-Web-Bold.ttf);
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(../webfonts/Lato-Bold.ttf);
}
